extends layout

block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

  script(type='text/javascript', src='/javascripts/controllers/UserController.js')

block content
  div.container(ng-controller="UserController", ng-init="setUser(#{JSON.stringify(user)})")
    h1 My Profile
    div
      ul 
        li {{user.name}}