extends layout
 
block head
  script(type='text/javascript', src='/javascripts/controllers.js')

block content 
  div(ng-controller="GamesController", ng-init="setGames( #{JSON.stringify(games)} )")
    tabset
      tab(ng-repeat="game in games" heading="{{game.name}}" select="setPrefix(game.prefix)")
    div
      tabset 
        tab(heading="Game Data" select="getPastData()")
          div.row 
            div.container(class="col-md-3")
                h4 Nuovi Utenti
                table(class=["table", "table-condensed", "table-responsive"])
                  tbody
                    th.row
                        td Data
                        td Utenti
                        td Alle {{datetime}}
                    tr.row
                        td OGGI
                        td{{todayUsers}} 
                        td{{todayUsers}}                         
                    tr.row(ng-repeat="lastDaysUser in lastDaysUsers")
                        td{{lastDaysUser._id.giorno}}/{{lastDaysUser._id.mese}}/{{lastDaysUser._id.anno}}
                        td{{lastDaysUser.tot}} 
                        td{{lastDaysUser.instant}} 
                    tr.row(ng-repeat="lastMonthUser in lastMonthUsers")
                        td Ultimi 30 giorni
                        td{{lastMonthUser.tot}} 
                        td{{lastMonthUser.instant}} 
                    tr.row(ng-repeat="overallUser in overallUsers")
                        td Di Sempre
                        td{{overallUser.tot}} 
                        td{{overallUser.instant}}        
                button.btn.btn-warning(type='button' ng-click='getPastData()') Aggiorna
            div.container(class="col-md-3")
                h4 Partite
                table(class=["table", "table-condensed", "table-responsive"])
                  tbody
                    th.row
                        td Data
                        td Partite
                        td Alle {{datetime}}
                    tr.row
                        td OGGI
                        td{{todayGames}} 
                        td{{todayGames}}                         
                    tr.row(ng-repeat="lastDaysGame in lastDaysGames")
                        td{{lastDaysGame._id.giorno}}/{{lastDaysGame._id.mese}}/{{lastDaysGame._id.anno}}
                        td{{lastDaysGame.tot}} 
                        td{{lastDaysGame.instant}} 
                    tr.row(ng-repeat="lastMonthGame in lastMonthGames")
                        td Ultimi 30 giorni
                        td{{lastMonthGame.tot}} 
                        td{{lastMonthGame.instant}} 
                    tr.row(ng-repeat="overallGame in overallGames")
                        td Di Sempre
                        td{{overallGame.tot}} 
                        td{{overallGame.instant}} 
        tab(heading="RealTime Data" select="getServerInfo()" class=["col-md-4","col-ld-4"])
            div.container(class="col-md-4")
                h4
                  button.btnConnect RECONNECT
                table(border='0')
                  tr
                    td
                      strong Server uptime:
                    td
                      #uptime Loading...
                    td
                      strong Server Memory:
                    td
                      #memory Loading...
                h4
                  | Version:
                  span#appversion Loading...
                  | 
                table(border='0')
                  tr
                    td
                      strong Game uptime:
                    td
                      #gameuptime Loading...
                    td(width='20')
                    td
                      strong Game restarts:
                    td
                      #gamerestarts Loading...
                    td(width='20')
                  tr
                    td
                      strong onlinePlayersQ:
                    td
                      #onlinePlayersQ Loading...
                    td
                    td
                      strong Random players:
                    td
                      #randomPlayers Loading...
                    td
                  tr
                    td
                      strong Users Online:
                    td
                      #usersOnline Loading...
                    td
                    td
                      strong Players playing now:
                    td
                      #playersPlaying Loading...
                    td                   
                  tr
                    td  
                    td
                    td
                    td
                    td
            div.container(class="col-md-4")          
                table(class=["table", "table-condensed", "table-responsive"])
                  th.row
                    td Day
                    td Month
                    td Total
                    td #                      
                  tr.row
                    td 
                       #dayusers Loading...
                    td 
                       #monthusers Loading...
                    td 
                      #totusers Loading...
                    td
                      strong New Users
                  tr.row
                    td 
                       #daygames Loading...
                    td 
                       #monthgames Loading...
                    td 
                       #totgames Loading...
                    td
                      strong Total Games
                  tr.row
                    td 
                       #daystarted Loading...
                    td 
                       #monthstarted Loading...
                    td 
                       #totstarted Loading...
                    td
                      strong Multipl. (Started)
                  tr.row
                    td 
                       #daymultigames Loading...
                    td 
                       #monthmultigames Loading...
                    td 
                       #totmultigames Loading...
                    td
                      strong Multipl. (Completed)
                  tr.row    
                    td 
                       #daybrokegames Loading...
                    td 
                       #monthbrokegames Loading...
                    td 
                       #totbrokegames Loading...
                    td
                      strong Multipl. (Incomplete with points)                           
                  tr.row
                    td 
                       #daychatmsgs Loading...
                    td 
                       #monthchatmsgs Loading...
                    td 
                       #totchatmsgs Loading...
                    td
                      strong Chat Messages                                       
                br
                div
                  | Last update:
                  span#lastUpdate
                div(style='display: none;')
                  | server:
                  span#server        
