extends layout
 
block head

block content 
  div(ng-controller="GamesController", ng-init="setGames( #{JSON.stringify(games)} )")
    tabset
      tab(ng-repeat="game in games" heading="{{game.name}}" select="setPrefix(game.prefix)")
    div
      tabset 
        tab(heading="Game Data" select="getPastData()")
          div.row 
            div.container(class=["col-md-3","span4"])
                h4 Nuovi Utenti
                table(class=["table", "table-condensed", "table-responsive"])
                  thead
                    tr
                        td(rowspan='2') Date
                        td(colspan='2') Users
                    tr
                        td Tot
                        td {{datetime}} 
                  tbody                             
                    tr(ng-repeat="lastDaysStat in lastDaysStats")
                        td {{lastDaysStat.created | onlydate}}
                        td {{lastDaysStat.tdu}}
                        td {{lastDaysStat.du}}
                button.btn.btn-warning(type='button' ng-click='getPastData()') Aggiorna
            div.container(class=["col-md-4","span4"])
                h4 Partite
                table(class=["table", "table-condensed", "table-responsive"])
                  thead
                    tr
                        td(rowspan='2') Date
                        td(colspan='2') Games
                        td(colspan='2') Multi 
                        td(colspan='2') Chat 
                    tr
                        td Tot
                        td {{datetime}}
                        td Tot 
                        td {{datetime}} 
                        td Tot
                        td {{datetime}} 
                  tbody                             
                    tr(ng-repeat="lastDaysStat in lastDaysStats")
                        td{{lastDaysStat.created | onlydate}}
                        td{{lastDaysStat.tdg}} 
                        td{{lastDaysStat.dg}}
                        td{{lastDaysStat.tdm}} 
                        td{{lastDaysStat.dm}}
                        td{{lastDaysStat.tdc}} 
                        td{{lastDaysStat.cm}}
        tab(heading="RealTime Data" select="getServerInfo()")
            div(class=["col-md-4","col-xs-10", "col-sm-10","span4"])
                h4
                  button.btnConnect RECONNECT
                table(border='0')
                  tr
                    td
                      strong Server uptime:
                    td
                      #uptime Loading...
                    td
                      strong Server Memory:
                    td
                      #memory Loading...
                h4
                  | Version:
                  span#appversion Loading...
                  | 
                table(border='0')
                  tr
                    td
                      strong Game uptime:
                    td
                      #gameuptime Loading...
                    td(width='20')
                    td
                      strong Game restarts:
                    td
                      #gamerestarts Loading...
                    td(width='20')
                  tr
                    td
                      strong onlinePlayersQ:
                    td
                      #onlinePlayersQ Loading...
                    td
                    td
                      strong Random players:
                    td
                      #randomPlayers Loading...
                    td
                  tr
                    td
                      strong Users Online:
                    td
                      #usersOnline Loading...
                    td
                    td
                      strong Players playing now:
                    td
                      #playersPlaying Loading...
                    td                   
                  tr
                    td  
                    td
                    td
                    td
                    td
            div(class=["col-md-4","col-xs-10", "col-sm-10","gamestats","span4"])          
                table(class=["table", "table-condensed", "table-responsive"])
                  th.row
                    td Day
                    td Month
                    td Total
                    td #                      
                  tr.row
                    td 
                       #dayusers Loading...
                    td 
                       #monthusers Loading...
                    td 
                      #totusers Loading...
                    td
                      strong New Users
                  tr.row
                    td 
                       #daygames Loading...
                    td 
                       #monthgames Loading...
                    td 
                       #totgames Loading...
                    td
                      strong Total Games
                  tr.row
                    td 
                       #daystarted Loading...
                    td 
                       #monthstarted Loading...
                    td 
                       #totstarted Loading...
                    td
                      strong Multi.(Started)
                  tr.row
                    td 
                       #daymultigames Loading...
                    td 
                       #monthmultigames Loading...
                    td 
                       #totmultigames Loading...
                    td
                      strong Multi.(Completed)
                  tr.row    
                    td 
                       #daybrokegames Loading...
                    td 
                       #monthbrokegames Loading...
                    td 
                       #totbrokegames Loading...
                    td
                      strong Multi.(Incompl. Win)                           
                  tr.row
                    td 
                       #daychatmsgs Loading...
                    td 
                       #monthchatmsgs Loading...
                    td 
                       #totchatmsgs Loading...
                    td
                      strong Chat Messages                                       
                br
                div
                  | Last update:
                  span#lastUpdate
                div(style='display: none;')
                  | server:
                  span#server        
        tab(heading="Users Admin")
          div.row 
            div.container(class=["span12","col-md-6"])
                h4 Amministrazione Utenti
                h6 Clicca sulla foto per visualizzare il profilo FB 
                input#searchText(type='search', placeholder='Digita almeno 3 caratteri...', ng-change="filterResult()", ng-model='filterCriteria.nick')
                table(class=["table", "table-condensed", "table-responsive"])
                  tbody
                    th.row
                        td #
                        td 
                          sort-by(onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="nick") Nick
                        td 
                          sort-by(onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="games") Games
                        td 
                          sort-by(onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="banned") Ban
                        td 
                          sort-by(onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="created") Data
                    tr.row(ng-repeat="user in users | filter:searchText")  
                        td 
                          a(href='http://www.facebook.com/{{user.fbid}}' target="_blank")
                            img(src="http://graph.facebook.com/{{user.fbid}}/picture" alt="Facebook Image")                   
                        td{{user.nick}} 
                        td{{user.gamesdet[gamePrefix].games}}
                        td{{user.banned | banned}}
                        td{{user.created | datetime}}
                        td 
                          button(class=["btn btn-small","btn-success"] ng-click="open(user, gamePrefix)") det
          div(ng-show="usersCount == 0")
            h3 No Customers Found
          div(class="well well-small" ng-show="totalPages > 1")
            pagination(num-pages="totalPages" items-per-page="20" max-size="20" page="filterCriteria.pageNumber" total-items="usersCount" on-select-page="selectPage(page)" boundary-links="true")
                  //pager(num-pages="totalPages" page = "filterCriteria.pageNumber" total-items="usersCount" max-size="10" on-select-page="selectPage(filterCriteria.pageNumber+1)")

//                        td{{user.banned | banned}}
//                        td 
//                          span(ng-show="!user.banned")
//                            button.btn.btn-warning(type='button' ng-click='banUser(user.guid, "disable")') Disabilita                  
//                          span(ng-show="user.banned")
//                            button.btn.btn-warning(type='button' ng-click='banUser(user.guid, "enable")') Abilita                                             
                            
                          