doctype 5
html(ng-app="MonitorModule")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap-theme.min.css')

    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.min.js')
    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='/javascripts/vendor/bootstrap-javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/MonitorModule.js')
    block head

  body
    block content