doctype 5
html(ng-app="TodoModule")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.js')
    script(type='text/javascript', src='/javascripts/TodoModule.js')
    link(rel='stylesheet',  href= "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet")
    link(rel='stylesheet',  href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css")
    block head

  body
    block content