doctype 5
html(ng-app="MonitorModule")
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold")
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap-theme.min.css')

    link(rel='stylesheet', href='/stylesheets/monitor.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/vendor/jquery/jquery.min.js')
    script(type='text/javascript', src='/javascripts/vendor/angular/angular.min.js')
    script(type='text/javascript', src='/javascripts/vendor/bootstrap-javascript/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='/javascripts/MonitorModule.js')
    
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/javascripts/vendor/io/socket.io.min.js')
    //script(src='/js/jquery/jquery-1.7.2.min.js')
    script(src='/javascripts/vendor/jquery/sparkline/jquery.sparkline.min.js')

    block head

  body
    block content