extends layout

block head
  link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

 
block content
  div.container(class=["col-md-4","col-xs-12"])
    a(href='/auth/facebook') 
      img(align:"midlle",src="/images/fblogin.png",border=0,height=60)

