extends layout

block head
  script(type='text/javascript', src='/javascripts/controllers.js')

block content 
  script(type="text/javascript")
    var sortingOrder = 'name';
  //class="row"  
  div.container(class="col-md-8" ng-controller="UserController", ng-init="getUsers()")
    h1 Users
    table(class=["table", "table-striped", "table-hover", "table-condensed", "table-responsive"])
      tbody
        tr.row.todo.not-done(ng-repeat="user in users")
            td{{user._id}}
            td{{user.name}} 
            td{{user.nick}}           