extends layout
 
block head
  script(type='text/javascript', src='/javascripts/controllers.js')

block content 

  div(class="tabbable")
      ul(class=["nav", "nav-tabs"])  
        li(class="active")
          a(href="#home" data-toggle="tab") Home 
        li 
          a(href="#partite" data-toggle="tab") Partite
        li 
          a(href="#altro" data-toggle="tab") Altro

      div(class="tab-content")
        #home(class=["tab-pane","active"])
        
          div.row 
            div.container(class="col-md-4" ng-controller="UserController", ng-init="getPastUsers()")
                h2 Nuovi Utenti
                table(class=["table", "table-striped", "table-hover", "table-condensed", "table-responsive"])
                  tbody
                    th.row
                        td Data
                        td Utenti
                        td Alle {{datetime}}
                    tr.row
                        td OGGI
                        td{{todayUsers}} 
                        td{{todayUsers}}                         
                    tr.row(ng-repeat="lastDaysUser in lastDaysUsers")
                        td{{lastDaysUser._id.giorno}}/{{lastDaysUser._id.mese}}/{{lastDaysUser._id.anno}}
                        td{{lastDaysUser.tot}} 
                        td{{lastDaysUser.instant}} 
                    tr.row(ng-repeat="lastMonthUser in lastMonthUsers")
                        td Ultimi 30 giorni
                        td{{lastMonthUser.tot}} 
                        td{{lastMonthUser.instant}} 
                    tr.row(ng-repeat="overallUser in overallUsers")
                        td Di Sempre
                        td{{overallUser.tot}} 
                        td{{overallUser.instant}}        
            div.container(class="col-md-4" ng-controller="UserController", ng-init="getPastGames()")
                h2 Partite
                table(class=["table", "table-striped", "table-hover", "table-condensed", "table-responsive"])
                  tbody
                    th.row
                        td Data
                        td Partite
                        td Alle {{datetime}}
                    tr.row
                        td OGGI
                        td{{todayGames}} 
                        td{{todayGames}}                         
                    tr.row(ng-repeat="lastDaysGame in lastDaysGames")
                        td{{lastDaysGame._id.giorno}}/{{lastDaysGame._id.mese}}/{{lastDaysGame._id.anno}}
                        td{{lastDaysGame.tot}} 
                        td{{lastDaysGame.instant}} 
                    tr.row(ng-repeat="lastMonthGame in lastMonthGames")
                        td Ultimi 30 giorni
                        td{{lastMonthGame.tot}} 
                        td{{lastMonthGame.instant}} 
                    tr.row(ng-repeat="overallGame in overallGames")
                        td Di Sempre
                        td{{overallGame.tot}} 
                        td{{overallGame.instant}}  
        #partite(class="tab-pane")                          
        #altro(class="tab-pane") 

  
